.page-container {
    display: flex;
    justify-content: space-around;
}

.img-detail-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.loader-container {
   position: absolute;
    top:47%;
    left: 47%;
    text-align: center;
}